*{
    box-sizing: border-box;
    margin: 0;
    /* padding: 0 !important; */
    /*  padding: 0;
    padding: 2px !important;*/
    /* border-radius: 0 !important; */
    /* padding: 2px !important;
    border: 2px;
    border-radius: 0 !important; */
}
table{
    border:0;
    padding: 0;
}
input {
    /* margin: 1px; */
    border: 0;
    /* border-radius: 0; */
    outline: none;
    width: 100%;
}

td{
    margin: 0;
    padding: 4px !important;
}

input:focus{
    outline: 3px solid black;
}
button:focus{
    outline: 3px solid black;
}

button{
    /* background: transparent; */
    /* border: 0;
    border-radius: 0; */
    /* border-radius: 0; */
    width: 100%;
}
table tr.selected td {
    /* background-color:  rgba(13,110,253,.25) !important; */
    background-color:  rgba(0,255,85,.25) !important;
    /* outline: green; */
}

.DataTableEditable{

}
.DataTableEditable td,tr{
    border-style: none;
}

.live-search-input-button{
    font-size: 10px;
    height: 25px;
    border: 0;
    border-radius: 0;
}
.live-search-input-button span{
    background: aqua;
}
.live-search-input-options-container{

}
.live-search-input-options-sub-container{
    max-height: 150px;
    overflow-x: none;
    overflow-y: auto;

}