*{
    box-sizing: border-box;
    margin: 0;
    /* padding: 0 !important; */
    /*  padding: 0;
    padding: 2px !important;*/
    /* border-radius: 0 !important; */
    /* padding: 2px !important;
    border: 2px;
    border-radius: 0 !important; */
}
table{
    border:0;
    padding: 0;
}
input {
    /* margin: 1px; */
    border: 0;
    /* border-radius: 0; */
    outline: none;
    width: 100%;
}
th {
    /* font-size: 0.8rem; */
}
tr{
    height: 20px;
}
td {
    margin: 0;
    padding: 4px !important;
    height: 100% !important;
}

form input.form-control,
form select.form-control{
    border-radius: 0 !important;
}
td input.form-control,
td select.form-control {
    border-radius: 0 !important;
    border: none;
    box-shadow: none;
    height: 100%;
}
tbody td button.btn {
    border-radius: 0;
    height: 100%;
}

input:focus{
    outline: 3px solid black;
}
button:focus{
    outline: 3px solid black;
}

button{
    /* background: transparent; */
    /* border: 0;
    border-radius: 0; */
    /* border-radius: 0; */
    width: 100%;
}
table tr.selected td {
    /* background-color:  rgba(13,110,253,.25) !important; */
    background-color:  rgba(0,255,85,.25) !important;
    /* outline: 2px solid rgba(0,255,85,1); */
    /* outline: green; */
    max-height: 40px !important;
}

.DataTableEditable{

}
.DataTableEditable td,tr{
    border-style: none;
}

.live-search-input-button{
    font-size: 10px;
    height: 25px;
    border: 0;
    border-radius: 0;
}
.live-search-input-button span{
    background: aqua;
}
.live-search-input-options-container{

}
.live-search-input-options-sub-container {
    max-height: 150px;
    overflow-x: none;
    overflow-y: auto;
}

table {
    /* min-width: 1500px; */
}
.sticky-columns th:first-child, 
.sticky-columns td:first-child {
    background-color: red;
    position: sticky;
    left:0px;
    background-color:grey;
}

table th.sticky-column,
table td.sticky-column {
    position: sticky;
    z-index: 10;
    overflow: hidden;
    background-color: white;
    /* outline:2px solid grey; */
}

.table th, 
.table td {

    /* background-color: #64dfa2; */
    vertical-align: middle;
}
/* .table td,
.table td input, 
.table td select,
.table td button {
    font-size: 0.8rem;
}
 */
.required {
    /* border-left-color: #00885b; */
    border-left-color: #64dfa2;
    border-left-width: thick;
}

.popover-body, 
.popover-body .list-group {
    padding: 0;
}
.popover-body .list-group .list-group-item {
    border-color: transparent !important;
}


.btn-massive-update-column-header {
    width: 22px;
    border: none;
    height: 25px;
    font-size: 12px;
    text-align: center;
    padding: 0;
}